@page
@model WebUi.Pages.Utilities.UtilityNotFound

@{
    ViewData["Title"] = "Ошибка";
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title></title>
</head>
<body>
<div>
    <div class="row">
        <h4>Ошибка</h4>
    </div>
    <div class="row">
        @if (Model.Utility != null)
        {
            <h6>Услуга <span class="text-primary">"@Model.Utility.Name"</span> не найдена</h6>
        }
        else
        {
            <h6>Услуга не найдена</h6>
        }
    </div>
    
</div>
</body>
</html>